@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 11vh;
}

.container-card {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.spinner-container {
  display: flex;
  justify-content: space-around;
  margin: 40vh;
}

.img-card {
  width: 233px;
  max-height: 200px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-media {
  width: 133px;
  height: 134px;
  object-fit: cover;
  margin-left: 100px;
  margin: 10px;
  align-self: center;
}

.card-products-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

.active-navbar-link {
  color: #fff;
  font-weight: bold;
}
.cart-container .MuiList-root {
  padding: 0;
}

.cart-container .MuiListItem-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-container .MuiListItem-root:not(:last-child) {
  margin-bottom: 5px;
}

.cart-container .MuiListItemSecondaryAction-root {
  right: 0;
}
